{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block content %}

   <!-- tr>(th*3)    // tkharej 3-->
  


        <table class="table">
            <thead>
              <tr>
              
                <th scope="col">Name</th>
                <th scope="col">Last name</th>
                <th scope="col">Email</th>
              </tr>
            </thead>
            <tbody>{% for s in object_list %}
              <tr>
            
                <td>{{ s.first_name }}</td>
                <td> {{ s.last_name }}</td>
                    <td>{{ s.email }}</td>
               
              </tr>
              {% endfor %}
            </tbody>
          </table>
{% endblock content %}



